<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>THE BEST BLOG IN THE UNIVERSE WRITTEN IN C :]</title>
	</head>
	<body>
		<h1>This is my new blog!</h1>
		<p>
			<b>And it's written in C because C IS MY SCRIPTING LANGUAGE!!</b>
		</p>
