<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">

<channel>
	<title>fefemama</title>
	<link>http://fettemama.org</link>
	<description>THE BEST BLOG IN THE UNIVERSE WRITTEN IN C :]</description>
	<language>de</language>
	
